.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
}

.Main {
  flex: 1;
}

.metalList {
  list-style: none;
  color: #740A08;
  font-size: 1.1rem;
  /* justify-content: center; */
  align-items: center;
  margin: 0;
}

.wrapper {
  position: relative;
}

.metallink {
  display: block;
  padding: 3px 20px;
  font-size: .8rem;
  font-family: sans-serif;
  text-decoration: none;
  color: #740A08;
  border: 1px solid #740A08;
  letter-spacing: 1px;
  text-align: center;
  position: relative;
  transition: all .3s;
  border-radius: 6px;
}

.metallink span {
  position: relative;
  z-index: 2;
}

.metallink:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #740A08;
  transition: all .3s;
  border-radius: 6px;
}

.metallink:hover {
  color: #fff;
}

.metallink:hover:after {
  width: 100%;
}
.activeMetal {
  background: #740A08 !important;
  color: #fff !important;
  border-color: #740A08 !important;
}
